<% if @recipes.errors.any? %>
    <% @recipes.errors.full_messages.each do |msg| %>
        <br><%= msg %>
    <% end %>
<% end %>

<%= form_for @recipes do |f| %>
  
  <%= f.label :tittle, 'Nome' %>
  <%= f.text_field :tittle %> 
  <%= f.label :recipe_type_id, 'Tipo de receita' %>
  <%= f.collection_select :recipe_type_id, @recipe_types, :id, :name, {prompt: "Selecione..."}, {class: "select_recipe_type"} %>
  <%= f.label :cuisine, 'Cozinha' %>
  <%= f.text_field :cuisine %>
  <%= f.label :difficulty, 'Dificuldade' %>
  <%= f.text_field :difficulty %>
  <%= f.label :cook_time, 'Tempo de cozimento' %>
  <%= f.number_field :cook_time %>
  <%= f.label :ingredients, 'Ingredientes' %>
  <%= f.text_area :ingredients %>
  <%= f.label :cook_method, 'Modo de Preparo' %>
  <%= f.text_area :cook_method %>

  <%= f.submit 'Enviar' %></p>
  <%= link_to 'Voltar', root_path, class: 'botao_voltar' %>
<% end %>
