
  <h1><%= @recipes.tittle %></h1>
  <ul>
    <li><%= @recipes.recipe_type.name %></li>
    <li><%= @recipes.cuisine %></li>
    <li><%= @recipes.difficulty %></li>
    <li><%= @recipes.cook_time_min %></li>
  </ul>

  <h3>Ingredientes</h3>
  <p><%= @recipes.ingredients %></p>
  <h3>Modo de Preparo</h3>
  <p><%= @recipes.cook_method %></p>
  <br>
  <p>Receita enviada por <%= @recipes.user.email %>.</p>
  <br>
  <%= link_to 'Editar Receita', edit_recipe_path %>
  <%= link_to 'Voltar', root_path, class: 'botao_voltar' %>