<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook - TreinaDev - João Barbieri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="titulo">CookBook</h1>
    <p align="center">Bem-vindo ao maior livro de receitas online!</p>
    <br>
    <nav>
      <%= link_to 'Nova Receita', new_recipe_path, class: 'nav-buttons' %>
      <%= link_to 'Novo Tipo de Receita', new_recipe_type_path, class: 'nav-buttons' %>
      <% if current_page?(controller: 'recipes', action: 'index') == false %>
        <%= link_to 'Voltar', root_path, class: 'botao_voltar' %>
      <% end %>
    </nav>

    <hr>
    <%= flash[:alert] %>
    <%= flash[:notice] %>

    <%= yield %>
  </body>
</html>
