<!DOCTYPE html>
<html>
  <head>
    <title>Cookbook - TreinaDev - João Barbieri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 class="titulo">CookBook</h1>
    <p align="center">Bem-vindo ao maior livro de receitas online!</p>
    <br>
    <nav>
      <% if user_signed_in? %>
        <%= link_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav-buttons' %>
        <%= link_to 'Nova Receita', new_recipe_path, class: 'nav-buttons' %>
        <%= link_to 'Novo Tipo de Receita', new_recipe_type_path, class: 'nav-buttons' %>      
        <%= link_to 'Minhas Receitas', my_recipes_recipe_path(current_user), class: 'nav-buttons' %>      
      <% else %>
        <%= link_to 'Entrar', new_user_session_path, class: 'nav-buttons' %>
      <% end %>

    </nav>

    <hr>
      <%= form_tag search_recipes_path, method: 'get', class: 'buscar' do %>
        <%= label_tag(:name, "Buscar receitas:") %>
        <%= text_field_tag(:name) %>
        <%= submit_tag("Buscar") %>
      <% end %>
    <hr>
    
    <span style="text-align: center;"><%= flash[:alert] %></span>
    <span style="text-align: center;"><%= flash[:notice] %></span>

    <% if user_signed_in? %>
      <span style="text-align: center;"><p>Olá, <%= current_user.email %>!</p></span>
    <% end %>
    <br>

    <%= yield %>
  </body>
</html>
